<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.app.mapper.ItemMapper">
    
    <resultMap id="itemMap" type="com.example.app.domain.Item" autoMapping="true">
	   	<association property="location" javaType="com.example.app.domain.Location">
	   	   <result property="name" column="location_name" />
	   	</association>
	</resultMap>
	
	
	
	
    <select id="selectAll" resultMap="itemMap">
        SELECT 
          items.id, items.name, items.amount,
          locations.name AS location_name
        FROM items
        JOIN locations
          ON items.location_id = locations.id
          ORDER BY registered DESC
    </select>



    <select id="selectById" resultMap="itemMap"
            parameterType="int">
        SELECT 
          items.id, items.name, items.amount,
          locations.id AS location_id,
          locations.name AS location_name,
          items.registered, items.updated,
          items.note
        FROM items
        JOIN locations
          ON items.location_id = locations.id
        WHERE items.id = #{id}  <!-- ★ ここで1件だけ取得 -->
    </select>
    
    
    
    
        <!-- 備品データ登録 -->
    <insert id="insert" parameterType="com.example.app.domain.Item" >
        INSERT INTO items (
          name,
          amount,
          location_id,
          note
        )
        VALUES (
          #{name},          <!-- Item.name -->
          #{amount},        <!-- Item.amount -->
          #{location.id},   <!-- Item.location.id -->
          #{note}           <!-- Item.note -->
        )
    </insert>
    
    
<!--    備品データ　削除-->
    <delete id="delete" parameterType="int">
    	DELETE FROM items WHERE id = #{id}
    </delete>
    
    
    
    
<!--    備品　更新-->
    <update id="update" parameterType="com.example.app.domain.Item">
    	UPDATE items 
    	SET 
    	  name = #{name},
    	  amount = #{amount},
    	  location_id = #{location.id},
    	  note = #{note}
    	WHERE id = #{id}
    	
    	    	<!--
          WHERE 句で、どの行を更新するかを指定する。
          id カラムが、Item.id の値と一致する行だけを更新する。
          つまり：
            「この id の備品レコード1件を更新する」
          という絞り込み。
        -->
        
    </update>
    
    
</mapper>
