<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link  th:href="@{/css/style.css}" rel="stylesheet" />
    <title>備品管理</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="">備品管理システム</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
                山田太郎さん
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="login.html">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container -->
    </nav>
    <div class="container mt-5">
      <h1>備品リスト</h1>
	  
<!--	  フラッシュメッセージ-->
<!-- ▼ status に値が入っているときだけ表示される、緑色の成功メッセージ -->
	  <div th:if="${status != null}" class="alert alert-success">
		<!-- [[${status}]] : コントローラから渡された status の文字列を HTML エスケープして表示 -->
	    [[${status}]]
	  </div>
	  
      <a class="btn btn-primary my-3" th:href="@{items/add}">備品の追加</a>
      <div class="row">
        <div class="col-md-12">
			
			
<!-- ★ 備品一覧テーブル（list.html のテーブル部分の例） -->
			<table class="table table-bordered table-hover list-table">
			  <thead>
			    <tr>
			      <!-- ID列 -->
			      <th scope="col">ID</th>
			      <!-- 品名 -->
			      <th scope="col">品名</th>
			      <!-- 数量 -->
			      <th scope="col">数量</th>
			      <!-- 場所（Location.name） -->
			      <th scope="col">場所</th>
			      <!-- 詳細ボタン -->
			      <th scope="col">操作</th>
			    </tr>
			  </thead>
			  <tbody>
			    <!--
			      itemList: Controller から渡される List<Item>
			      item    : 1件分の Item
			    -->
			    <tr class="align-middle" th:each="item : ${itemList}" th:object="${item}">
					<td>[[*{id}]]</td>
					<td>[[*{name}]]</td>
					<td>[[*{amount}]]</td>
					<td>[[*{location.name}]]</td>
			      <!-- 詳細ボタン /items/detail/{id} へのリンクを作成 -->
			      <td>
			        <a class="btn btn-warning"  th:href="@{/items/detail/{id}(id=*{id})}">
			          詳細
			        </a>
			      </td>
			    </tr>
			  </tbody>
			</table>


			
			
			
          </table>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
